
# Virtual Environment
venv/

# Python Cache
__pycache__/
*.pyc
*.pyo

# Environment Variables
.env

# Database & Migrations
*.sqlite3
dump.rdb
migrations/

# Processed Images (Optional)
processed_images/

# Logs
*.log

# CSV Test Files
test.csv

